<h1>Nuestros productos actuales</h1>

<div class="product-card">
    {{#each product}}
        <h2>{{this.title}}</h2>
        <h5>Categoría: {{this.category}}</h5>
        <h6>Id del producto: {{this.id}}</h6>
        <h4>{{this.thumbnails}}</h4>
        <h2>${{this.price}}</h2>
        <h3>Stock: {{this.stock}}, Código de Producto: {{this.code}}</h3>
        <h4>Descripción: {{this.description}}</h4>
    {{/each}}
</div>
<script src="/static/js/realTimeProd.js"></script>